html
    head
        script(src="js/bundle.js", defer)
        link(href="css/style.css", rel="stylesheet")
    body
        header
            h1 Live Typescript Playground
        main
            div.split
                textarea#tscode(rows=10)
                textarea#jscode(rows=10 readonly="true")