@import "normalize-css/normalize";

* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    padding: 4pt 16pt;

    header {
        text-align: center;
    }

    main {
        .split {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            margin: -4pt;

            textarea {
                min-width: 300px;
                flex: 1 1 calc(50% - 8pt);
                margin: 4pt;
            }
        }
    }
}